@model ECommerceStore.Models.Product

<div class="col-lg-4">
    <div class="card">
        <img class="card-img-top" src="~/images/@Model.Image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p>@Model.Price.ToString("c")</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <form class="addCartForm" asp-controller="Cart" asp-action="Add" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success btn-sm" >Add to cart</button>
            </form>
        </div>
    </div>
</div>